* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter;
}

nav {
    height: 80px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

nav>img {
    max-width: 150px;
}

.Hero {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Hero>img {
    width: 60%;
    padding-top: 30px;
    margin: auto;
}

.Hero--Text {
    width: 60%;
    margin: auto;
    padding-top: 50px;
}

.Hero--Text>h1 {
    font-size: 35px;
}

.Hero--Text>p {
    padding-top: 15px;
    font-size: 18px;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    padding-block: 30px;
    margin-bottom: 20px;
}

.Card {
    width: 275px;
    font-size: 15px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Card--Image {
    width: 100%;
}

.Card--Stats {
    margin-block: 10px 8px;
}

.Card--Stats .firstspan {
    padding-right: 2px;
}

.Card--Stats .otherspan {
    color: #918E9B;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
}

.card--badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .Hero>img {
        width: 75%;
    }

    .Hero--Text {
        width: 75%;
    }

    .cards-list {
        justify-content: flex-start;
        padding-inline: 50px;
    }
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(./fonts/Inter.ttf) format('ttf');
}